*{ margin:0;padding:0;  }
body{
  background:url("../imgs/2.png") no-repeat;
  min-height: 300px;
  color: #000;
  h3{color:red;font-size:28px;}
  div{
    background:url("../imgs/3.png") no-repeat;
    height: 400px;
  }
}